* {
  margin: auto;
  padding: auto;
}

body {
  width: 100vw;
  background-image: url("./images/art-deco1.jpg");
  background-position: fixed;
  background-position-x: 50%;
  color: white;
  font-family: "Limelight", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding: 10px;
  width: fit-content;
  max-width: 90vw;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  font-size: 33px;
  border: 5px solid #a98e60;
  color: #fff;
  background-color: #000000;
  animation: fading 1s steps(80, end);
}

h2 {
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 93vw;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  font-size: 30px;
  border: 5px solid #a98e60;
  color: #fff;
  background-color: #000000;
  font-family: Roboto Slab;
  animation: fading 1s steps(50, end);
}

@keyframes fading {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  color: white;
  font-size: 60px;
  border: 5px solid #a98e60;
  color: #fff;
  background-color: #000000;
  text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0,
    #aaa 0 5px 0, rgba(0, 0, 0, 0.1) 0 6px 1px, rgba(0, 0, 0, 0.1) 0 0 5px,
    rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(0, 0, 0, 0.15) 0 3px 5px,
    rgba(0, 0, 0, 0.2) 0 5px 10px, rgba(0, 0, 0, 0.2) 0 10px 10px,
    rgba(0, 0, 0, 0.1) 0 20px 20px;
  letter-spacing: 2px;
}

.og-pic {
  background-color: black;
  background-size: contain;
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #a98e60;
}

.header-container {
  align-content: center;
  width: 95vw;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
  background-color: black;
  color: #ffffff;
  border: 5px solid #a98e60;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 2px 2px 2px rgba(206, 89, 55, 0);
}

.footer-container {
  color: #ffffff;
  background: black;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px;
  width: 90vw;
  padding: 10px;
  border: 5px solid #a98e60;
}

#footer-link {
  font-size: 20px;
  color: white;
  padding-right: 20px;
}

#header-link {
  font-size: 18px;
  margin-top: 1vh;
  margin-left: 2vw;
  color: white;
  display: inline-block;
  padding: 2px;
  letter-spacing: 0.7px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 30px;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.video-responsive iframe {
  left: 5px;
  height: 100vh;
  width: 95vw;
  position: absolute;
  border: 5px solid #a98e60;
}

.scv-about-bio {
  margin: 10px 0 10px 0;
  width: 90vw;
  font-size: 12px;
  color: white;
  display: inline-block;
  background-color: black;
  border: 5px solid #a98e60;
  font-family: Roboto Slab;
}

.about-header {
  color: white;
  /* display: inline-block; */
  margin: 10px 0 10px 0;
}

.cheers-pic {
  width: 90vw;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #a98e60;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.scv-about-bio2 {
  margin: 10px 0 10px 0;
  font-size: 2em;
  color: white;
  color: white;
  display: inline-block;
  background-color: black;
  border: 5px solid #a98e60;
}

.signature {
  margin: 10px 0 10px 0;
  font-family: Luxurious Script;
  font-size: 4em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: inline-block;
  background-color: black;
  border: 5px solid #a98e60;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.scv-pic {
  border: 5px solid #a98e60;
  max-height: 90vh;
  max-width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-top: 100%;
    opacity: 0%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    margin-bottom: 0%;
    opacity: 100%;
  }
}

.espressopic {
  width: 90vw;
  border: 5px solid #a98e60;
}

.modal {
  background-color: black;
  border: 5px solid #a98e60;
}

.span-info {
  background-color: black;
}

.button-yes {
  font-family: Limelight;
  font-size: 18px;
  width: 25vw;
  height: 20vh;
  text-align: fit-content;
  background-color: black;
  color: white;
  border: 5px solid #a98e60;
  margin-right: 100px;
}

.button-no {
  font-family: Limelight;
  font-size: 18px;
  width: 25vw;
  height: 20vh;
  background-color: black;
  color: white;
  border: 5px solid #a98e60;
}

.box-contain {
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 15vh;
}

.verifytext {
  text-align: center;
  max-width: fit-content;
  padding: 10px;
}

.buttonbox {
  margin: 10px;
}

.headerage {
  background-color: black;
  text-align: center;
  height: fit-content;
  width: fit-content;
  font-size: 60px;
  border: 5px solid #a98e60;
  padding: 10px;
  text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0,
    #aaa 0 5px 0, rgba(0, 0, 0, 0.1) 0 6px 1px, rgba(0, 0, 0, 0.1) 0 0 5px,
    rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(0, 0, 0, 0.15) 0 3px 5px,
    rgba(0, 0, 0, 0.2) 0 5px 10px, rgba(0, 0, 0, 0.2) 0 10px 10px,
    rgba(0, 0, 0, 0.1) 0 20px 20px;
}

.socials {
  background-color: black;
  border: 5px solid #a98e60;
  width: fit-content;
  margin-top: 20px;
}

#sbox {
  width: 30px;
  border-right: none;
  border-left: none;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.drink-pic {
  height: 30vh;
  border: 5px solid #a98e60;
}

.drink-pic:active {
  transform: (1, 1);
}

.shirt-card {
  background-color: black;
  width: fit-content;
  display: inline-block;
  height: fit-content;
  border: 5px solid #a98e60;
  margin: 30px;
  padding: 10px;
}

.drink-card {
  background-color: black;
  width: fit-content;
  display: inline-block;
  height: fit-content;
  border: 5px solid #a98e60;
  margin: 30px;
  padding: 10px;
}

.drink-btn {
  color: white;
  font-size: 18px;
  font-family: Limelight;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(250, 204, 65) 100%
  );
  margin-top: 35px;
  /* border: 5px solid #a98e60; */
}

.description {
  font-size: 30px;
  margin-top: 10px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 2px 2px 2px rgba(206, 89, 55, 0);
}

.card-text {
  font-size: 20px;
  margin-top: 10px;
  font-family: Tradewinds;
  font-weight: bold;
}

.spirit-header {
  width: fit-content;
  padding: 20px;
  font-family: Limelight;
  /* border: rgb(255, 0, 0) 2px solid;
  outline: #a98e60 5px solid; */
}

.footertext {
  margin-left: auto;
  font-size: 12px;
  text-shadow: none;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #a98e60;
}

.espresso-blue {
  border: teal 2px solid;
  outline: #a98e60 5px solid;
}

.og-red {
  border: rgb(160, 6, 6) 2px solid;
  outline: #a98e60 5px solid;
}

.peach-header {
  border: rgb(235, 158, 34) 2px solid;
  outline: #a98e60 5px solid;
}

.cit-header {
  border: rgb(255, 238, 0) 2px solid;
  outline: #a98e60 5px solid;
}

.ginblue {
  border: rgb(49, 228, 189) 2px solid;
  outline: #a98e60 5px solid;
}

.swaghead {
  border: rgb(247, 239, 255) 2px solid;
  outline: #a98e60 5px solid;
}

.abouthead {
  border: deepskyblue 2px solid;
  outline: #a98e60 5px solid;
}

.homehead {
  border: deepskyblue 2px solid;
  outline: #a98e60 5px solid;
}

#selectList {
  background-color: black;
  color: #b19b21;
  border: #a98e60 5px solid;
  margin-right: 10px;
  font-weight: bold;
  font-family: Tradewinds;
  font-size: 16px;
}
